openapi: 3.1.0
info:
  title: KuberOne API
  version: 1.0.0
  description: "Official API contract for Kuber Finserve KuberOne platform.\n\n## Auth\nJWT Bearer + refresh rotation + OTP flows.\n\n## RBAC\nSee x-permissions per operation.\n\n## Pagination\npage, limit, sortBy, sortOrder, search on list endpoints."
  contact:
    name: Kuber Finserve
    email: "api@kuberfinserve.com"
servers:
  - url: "https://api.kuberone.kuberfinserve.com/api/v1"
    description: Production
  - url: "http://localhost:4000/api/v1"
    description: Development
tags:
  - name: AI
  - name: Analytics
  - name: Audit
  - name: Authentication
  - name: Campaigns
  - name: Commissions
  - name: Compliance
  - name: Customers
  - name: Documents
  - name: EMI
  - name: Eligibility
  - name: KYC
  - name: Knowledge Base
  - name: LMS
  - name: LOS
  - name: Notifications
  - name: Products
  - name: RBAC
  - name: Referrals
  - name: Settings
  - name: Support
  - name: Users
paths:
  "/auth/send-otp":
    post:
      tags:
        - Authentication
      operationId: post_auth_send_otp
      summary: POST auth/send-otp
      description: Public
      security: []
      x-permissions: []
      x-data-scope: N/A
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              "$ref": "#/components/schemas/OtpSendRequest"
            example:
              phone: 9876543210
              purpose: LOGIN
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
  "/auth/verify-otp":
    post:
      tags:
        - Authentication
      operationId: post_auth_verify_otp
      summary: POST auth/verify-otp
      description: Public
      security: []
      x-permissions: []
      x-data-scope: N/A
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              "$ref": "#/components/schemas/OtpVerifyRequest"
            example:
              phone: 9876543210
              otp: 123456
              purpose: LOGIN
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
  "/auth/login":
    post:
      tags:
        - Authentication
      operationId: post_auth_login
      summary: POST auth/login
      description: Public
      security: []
      x-permissions: []
      x-data-scope: N/A
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              "$ref": "#/components/schemas/LoginRequest"
            example:
              loginType: employee
              email: "admin@kuberfinserve.com"
              password: "SecurePass123!"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
  "/auth/refresh":
    post:
      tags:
        - Authentication
      operationId: post_auth_refresh
      summary: POST auth/refresh
      description: Public
      security: []
      x-permissions: []
      x-data-scope: N/A
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              "$ref": "#/components/schemas/RefreshRequest"
            example:
              refreshToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
  "/auth/logout":
    post:
      tags:
        - Authentication
      operationId: post_auth_logout
      summary: POST auth/logout
      description: Authenticated session required
      security:
        - bearerAuth: []
      x-permissions: []
      x-data-scope: JWT dataScope enforced server-side
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              "$ref": "#/components/schemas/RefreshRequest"
            example: null
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
  "/auth/logout-all":
    post:
      tags:
        - Authentication
      operationId: post_auth_logout_all
      summary: POST auth/logout-all
      description: Authenticated session required
      security:
        - bearerAuth: []
      x-permissions: []
      x-data-scope: JWT dataScope enforced server-side
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
            example: null
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
  "/auth/me":
    get:
      tags:
        - Authentication
      operationId: get_auth_me
      summary: GET auth/me
      description: Authenticated session required
      security:
        - bearerAuth: []
      x-permissions: []
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - "$ref": "#/components/parameters/Page"
        - "$ref": "#/components/parameters/Limit"
        - "$ref": "#/components/parameters/SortBy"
        - "$ref": "#/components/parameters/SortOrder"
        - "$ref": "#/components/parameters/Search"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
  "/auth/change-mobile/send-otp":
    post:
      tags:
        - Authentication
      operationId: post_auth_change_mobile_send_otp
      summary: POST auth/change-mobile/send-otp
      description: Authenticated session required
      security:
        - bearerAuth: []
      x-permissions: []
      x-data-scope: JWT dataScope enforced server-side
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
            example: null
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
  "/auth/change-mobile/verify":
    post:
      tags:
        - Authentication
      operationId: post_auth_change_mobile_verify
      summary: POST auth/change-mobile/verify
      description: Authenticated session required
      security:
        - bearerAuth: []
      x-permissions: []
      x-data-scope: JWT dataScope enforced server-side
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
            example: null
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
  "/users":
    get:
      tags:
        - Users
      operationId: get_users
      summary: GET users
      description: "Permissions: users.read"
      security:
        - bearerAuth: []
      x-permissions:
        - users.read
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - "$ref": "#/components/parameters/Page"
        - "$ref": "#/components/parameters/Limit"
        - "$ref": "#/components/parameters/SortBy"
        - "$ref": "#/components/parameters/SortOrder"
        - "$ref": "#/components/parameters/Search"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
    post:
      tags:
        - Users
      operationId: post_users
      summary: POST users
      description: "Permissions: users.read, users.write"
      security:
        - bearerAuth: []
      x-permissions:
        - users.read
        - users.write
      x-data-scope: JWT dataScope enforced server-side
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
            example: null
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
  "/users/{id}":
    get:
      tags:
        - Users
      operationId: get_users_id
      summary: "GET users/{id}"
      description: "Permissions: users.read, users.write"
      security:
        - bearerAuth: []
      x-permissions:
        - users.read
        - users.write
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - name: id
          in: path
          required: true
          schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
    patch:
      tags:
        - Users
      operationId: patch_users_id
      summary: "PATCH users/{id}"
      description: "Permissions: users.read, users.write"
      security:
        - bearerAuth: []
      x-permissions:
        - users.read
        - users.write
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - name: id
          in: path
          required: true
          schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
            example: null
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
    delete:
      tags:
        - Users
      operationId: delete_users_id
      summary: "DELETE users/{id}"
      description: "Permissions: users.read, users.write"
      security:
        - bearerAuth: []
      x-permissions:
        - users.read
        - users.write
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - name: id
          in: path
          required: true
          schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
  "/users/{id}/roles":
    get:
      tags:
        - Users
      operationId: get_users_id_roles
      summary: "GET users/{id}/roles"
      description: "Permissions: users.read, users.write"
      security:
        - bearerAuth: []
      x-permissions:
        - users.read
        - users.write
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - name: id
          in: path
          required: true
          schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
  "/roles":
    get:
      tags:
        - RBAC
      operationId: get_roles
      summary: GET roles
      description: "Permissions: roles.read, rbac.read"
      security:
        - bearerAuth: []
      x-permissions:
        - roles.read
        - rbac.read
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - "$ref": "#/components/parameters/Page"
        - "$ref": "#/components/parameters/Limit"
        - "$ref": "#/components/parameters/SortBy"
        - "$ref": "#/components/parameters/SortOrder"
        - "$ref": "#/components/parameters/Search"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
    post:
      tags:
        - RBAC
      operationId: post_roles
      summary: POST roles
      description: "Permissions: roles.read, roles.write, rbac.read, rbac.configure"
      security:
        - bearerAuth: []
      x-permissions:
        - roles.read
        - roles.write
        - rbac.read
        - rbac.configure
      x-data-scope: JWT dataScope enforced server-side
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
            example: null
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
    delete:
      tags:
        - RBAC
      operationId: delete_roles
      summary: DELETE roles
      description: "Permissions: roles.read, rbac.read, rbac.configure"
      security:
        - bearerAuth: []
      x-permissions:
        - roles.read
        - rbac.read
        - rbac.configure
      x-data-scope: JWT dataScope enforced server-side
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
  "/roles/{id}":
    get:
      tags:
        - RBAC
      operationId: get_roles_id
      summary: "GET roles/{id}"
      description: "Permissions: roles.read, roles.write, rbac.read, rbac.configure"
      security:
        - bearerAuth: []
      x-permissions:
        - roles.read
        - roles.write
        - rbac.read
        - rbac.configure
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - name: id
          in: path
          required: true
          schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
    patch:
      tags:
        - RBAC
      operationId: patch_roles_id
      summary: "PATCH roles/{id}"
      description: "Permissions: roles.read, roles.write, rbac.read, rbac.configure"
      security:
        - bearerAuth: []
      x-permissions:
        - roles.read
        - roles.write
        - rbac.read
        - rbac.configure
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - name: id
          in: path
          required: true
          schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
            example: null
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
    delete:
      tags:
        - RBAC
      operationId: delete_roles_id
      summary: "DELETE roles/{id}"
      description: "Permissions: roles.read, roles.write, rbac.read, rbac.configure"
      security:
        - bearerAuth: []
      x-permissions:
        - roles.read
        - roles.write
        - rbac.read
        - rbac.configure
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - name: id
          in: path
          required: true
          schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
  "/permissions":
    get:
      tags:
        - RBAC
      operationId: get_permissions
      summary: GET permissions
      description: "Permissions: permissions.read"
      security:
        - bearerAuth: []
      x-permissions:
        - permissions.read
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - "$ref": "#/components/parameters/Page"
        - "$ref": "#/components/parameters/Limit"
        - "$ref": "#/components/parameters/SortBy"
        - "$ref": "#/components/parameters/SortOrder"
        - "$ref": "#/components/parameters/Search"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
    post:
      tags:
        - RBAC
      operationId: post_permissions
      summary: POST permissions
      description: "Permissions: rbac.read, permissions.read, permissions.write"
      security:
        - bearerAuth: []
      x-permissions:
        - rbac.read
        - permissions.read
        - permissions.write
      x-data-scope: JWT dataScope enforced server-side
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
            example: null
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
  "/permissions/{id}":
    get:
      tags:
        - RBAC
      operationId: get_permissions_id
      summary: "GET permissions/{id}"
      description: "Permissions: rbac.read, rbac.configure, permissions.read, permissions.write"
      security:
        - bearerAuth: []
      x-permissions:
        - rbac.read
        - rbac.configure
        - permissions.read
        - permissions.write
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - name: id
          in: path
          required: true
          schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
    patch:
      tags:
        - RBAC
      operationId: patch_permissions_id
      summary: "PATCH permissions/{id}"
      description: "Permissions: rbac.read, rbac.configure, permissions.read, permissions.write"
      security:
        - bearerAuth: []
      x-permissions:
        - rbac.read
        - rbac.configure
        - permissions.read
        - permissions.write
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - name: id
          in: path
          required: true
          schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
            example: null
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
    delete:
      tags:
        - RBAC
      operationId: delete_permissions_id
      summary: "DELETE permissions/{id}"
      description: "Permissions: rbac.read, rbac.configure, permissions.read, permissions.write"
      security:
        - bearerAuth: []
      x-permissions:
        - rbac.read
        - rbac.configure
        - permissions.read
        - permissions.write
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - name: id
          in: path
          required: true
          schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
  "/user-roles":
    get:
      tags:
        - RBAC
      operationId: get_user_roles
      summary: GET user-roles
      description: "Permissions: users.read"
      security:
        - bearerAuth: []
      x-permissions:
        - users.read
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - "$ref": "#/components/parameters/Page"
        - "$ref": "#/components/parameters/Limit"
        - "$ref": "#/components/parameters/SortBy"
        - "$ref": "#/components/parameters/SortOrder"
        - "$ref": "#/components/parameters/Search"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
    post:
      tags:
        - RBAC
      operationId: post_user_roles
      summary: POST user-roles
      description: "Permissions: users.read, users.write"
      security:
        - bearerAuth: []
      x-permissions:
        - users.read
        - users.write
      x-data-scope: JWT dataScope enforced server-side
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
            example: null
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
  "/user-roles/{id}":
    get:
      tags:
        - RBAC
      operationId: get_user_roles_id
      summary: "GET user-roles/{id}"
      description: "Permissions: users.read, users.write"
      security:
        - bearerAuth: []
      x-permissions:
        - users.read
        - users.write
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - name: id
          in: path
          required: true
          schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
    patch:
      tags:
        - RBAC
      operationId: patch_user_roles_id
      summary: "PATCH user-roles/{id}"
      description: "Permissions: users.read, users.write"
      security:
        - bearerAuth: []
      x-permissions:
        - users.read
        - users.write
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - name: id
          in: path
          required: true
          schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
            example: null
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
    delete:
      tags:
        - RBAC
      operationId: delete_user_roles_id
      summary: "DELETE user-roles/{id}"
      description: "Permissions: users.read, users.write"
      security:
        - bearerAuth: []
      x-permissions:
        - users.read
        - users.write
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - name: id
          in: path
          required: true
          schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
  "/user-roles/{id}/roles":
    get:
      tags:
        - RBAC
      operationId: get_user_roles_id_roles
      summary: "GET user-roles/{id}/roles"
      description: "Permissions: users.read, users.write"
      security:
        - bearerAuth: []
      x-permissions:
        - users.read
        - users.write
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - name: id
          in: path
          required: true
          schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
  "/role-permissions":
    get:
      tags:
        - RBAC
      operationId: get_role_permissions
      summary: GET role-permissions
      description: "Permissions: roles.read, rbac.read"
      security:
        - bearerAuth: []
      x-permissions:
        - roles.read
        - rbac.read
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - "$ref": "#/components/parameters/Page"
        - "$ref": "#/components/parameters/Limit"
        - "$ref": "#/components/parameters/SortBy"
        - "$ref": "#/components/parameters/SortOrder"
        - "$ref": "#/components/parameters/Search"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
    post:
      tags:
        - RBAC
      operationId: post_role_permissions
      summary: POST role-permissions
      description: "Permissions: roles.read, roles.write, rbac.read, rbac.configure"
      security:
        - bearerAuth: []
      x-permissions:
        - roles.read
        - roles.write
        - rbac.read
        - rbac.configure
      x-data-scope: JWT dataScope enforced server-side
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
            example: null
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
    delete:
      tags:
        - RBAC
      operationId: delete_role_permissions
      summary: DELETE role-permissions
      description: "Permissions: roles.read, rbac.read, rbac.configure"
      security:
        - bearerAuth: []
      x-permissions:
        - roles.read
        - rbac.read
        - rbac.configure
      x-data-scope: JWT dataScope enforced server-side
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
  "/role-permissions/{id}":
    get:
      tags:
        - RBAC
      operationId: get_role_permissions_id
      summary: "GET role-permissions/{id}"
      description: "Permissions: roles.read, roles.write, rbac.read, rbac.configure"
      security:
        - bearerAuth: []
      x-permissions:
        - roles.read
        - roles.write
        - rbac.read
        - rbac.configure
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - name: id
          in: path
          required: true
          schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
    patch:
      tags:
        - RBAC
      operationId: patch_role_permissions_id
      summary: "PATCH role-permissions/{id}"
      description: "Permissions: roles.read, roles.write, rbac.read, rbac.configure"
      security:
        - bearerAuth: []
      x-permissions:
        - roles.read
        - roles.write
        - rbac.read
        - rbac.configure
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - name: id
          in: path
          required: true
          schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
            example: null
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
    delete:
      tags:
        - RBAC
      operationId: delete_role_permissions_id
      summary: "DELETE role-permissions/{id}"
      description: "Permissions: roles.read, roles.write, rbac.read, rbac.configure"
      security:
        - bearerAuth: []
      x-permissions:
        - roles.read
        - roles.write
        - rbac.read
        - rbac.configure
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - name: id
          in: path
          required: true
          schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
  "/customers":
    get:
      tags:
        - Customers
      operationId: get_customers
      summary: GET customers
      description: "Permissions: customers.read, customers.write"
      security:
        - bearerAuth: []
      x-permissions:
        - customers.read
        - customers.write
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - "$ref": "#/components/parameters/Page"
        - "$ref": "#/components/parameters/Limit"
        - "$ref": "#/components/parameters/SortBy"
        - "$ref": "#/components/parameters/SortOrder"
        - "$ref": "#/components/parameters/Search"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
    post:
      tags:
        - Customers
      operationId: post_customers
      summary: POST customers
      description: "Permissions: customers.read, customers.write"
      security:
        - bearerAuth: []
      x-permissions:
        - customers.read
        - customers.write
      x-data-scope: JWT dataScope enforced server-side
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
            example: null
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
    put:
      tags:
        - Customers
      operationId: put_customers
      summary: PUT customers
      description: Authenticated session required
      security:
        - bearerAuth: []
      x-permissions: []
      x-data-scope: JWT dataScope enforced server-side
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
            example: null
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
  "/customers/{id}":
    get:
      tags:
        - Customers
      operationId: get_customers_id
      summary: "GET customers/{id}"
      description: "Permissions: customers.write"
      security:
        - bearerAuth: []
      x-permissions:
        - customers.write
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - name: id
          in: path
          required: true
          schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
    patch:
      tags:
        - Customers
      operationId: patch_customers_id
      summary: "PATCH customers/{id}"
      description: "Permissions: customers.write"
      security:
        - bearerAuth: []
      x-permissions:
        - customers.write
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - name: id
          in: path
          required: true
          schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
            example: null
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
    delete:
      tags:
        - Customers
      operationId: delete_customers_id
      summary: "DELETE customers/{id}"
      description: Authenticated session required
      security:
        - bearerAuth: []
      x-permissions: []
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - name: id
          in: path
          required: true
          schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
  "/customer-profiles":
    get:
      tags:
        - Customers
      operationId: get_customer_profiles
      summary: GET customer-profiles
      description: "Permissions: customers.read, customers.write"
      security:
        - bearerAuth: []
      x-permissions:
        - customers.read
        - customers.write
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - "$ref": "#/components/parameters/Page"
        - "$ref": "#/components/parameters/Limit"
        - "$ref": "#/components/parameters/SortBy"
        - "$ref": "#/components/parameters/SortOrder"
        - "$ref": "#/components/parameters/Search"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
    post:
      tags:
        - Customers
      operationId: post_customer_profiles
      summary: POST customer-profiles
      description: "Permissions: customers.read, customers.write"
      security:
        - bearerAuth: []
      x-permissions:
        - customers.read
        - customers.write
      x-data-scope: JWT dataScope enforced server-side
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
            example: null
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
    put:
      tags:
        - Customers
      operationId: put_customer_profiles
      summary: PUT customer-profiles
      description: Authenticated session required
      security:
        - bearerAuth: []
      x-permissions: []
      x-data-scope: JWT dataScope enforced server-side
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
            example: null
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
  "/customer-profiles/{id}":
    get:
      tags:
        - Customers
      operationId: get_customer_profiles_id
      summary: "GET customer-profiles/{id}"
      description: "Permissions: customers.write"
      security:
        - bearerAuth: []
      x-permissions:
        - customers.write
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - name: id
          in: path
          required: true
          schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
    patch:
      tags:
        - Customers
      operationId: patch_customer_profiles_id
      summary: "PATCH customer-profiles/{id}"
      description: "Permissions: customers.write"
      security:
        - bearerAuth: []
      x-permissions:
        - customers.write
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - name: id
          in: path
          required: true
          schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
            example: null
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
    delete:
      tags:
        - Customers
      operationId: delete_customer_profiles_id
      summary: "DELETE customer-profiles/{id}"
      description: Authenticated session required
      security:
        - bearerAuth: []
      x-permissions: []
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - name: id
          in: path
          required: true
          schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
  "/customer-addresses":
    get:
      tags:
        - Customers
      operationId: get_customer_addresses
      summary: GET customer-addresses
      description: "Permissions: customers.read, customers.write"
      security:
        - bearerAuth: []
      x-permissions:
        - customers.read
        - customers.write
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - "$ref": "#/components/parameters/Page"
        - "$ref": "#/components/parameters/Limit"
        - "$ref": "#/components/parameters/SortBy"
        - "$ref": "#/components/parameters/SortOrder"
        - "$ref": "#/components/parameters/Search"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
    post:
      tags:
        - Customers
      operationId: post_customer_addresses
      summary: POST customer-addresses
      description: "Permissions: customers.read, customers.write"
      security:
        - bearerAuth: []
      x-permissions:
        - customers.read
        - customers.write
      x-data-scope: JWT dataScope enforced server-side
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
            example: null
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
    put:
      tags:
        - Customers
      operationId: put_customer_addresses
      summary: PUT customer-addresses
      description: Authenticated session required
      security:
        - bearerAuth: []
      x-permissions: []
      x-data-scope: JWT dataScope enforced server-side
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
            example: null
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
  "/customer-addresses/{id}":
    get:
      tags:
        - Customers
      operationId: get_customer_addresses_id
      summary: "GET customer-addresses/{id}"
      description: "Permissions: customers.write"
      security:
        - bearerAuth: []
      x-permissions:
        - customers.write
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - name: id
          in: path
          required: true
          schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
    patch:
      tags:
        - Customers
      operationId: patch_customer_addresses_id
      summary: "PATCH customer-addresses/{id}"
      description: "Permissions: customers.write"
      security:
        - bearerAuth: []
      x-permissions:
        - customers.write
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - name: id
          in: path
          required: true
          schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
            example: null
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
    delete:
      tags:
        - Customers
      operationId: delete_customer_addresses_id
      summary: "DELETE customer-addresses/{id}"
      description: Authenticated session required
      security:
        - bearerAuth: []
      x-permissions: []
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - name: id
          in: path
          required: true
          schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
  "/customer-employment":
    get:
      tags:
        - Customers
      operationId: get_customer_employment
      summary: GET customer-employment
      description: "Permissions: customers.read, customers.write"
      security:
        - bearerAuth: []
      x-permissions:
        - customers.read
        - customers.write
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - "$ref": "#/components/parameters/Page"
        - "$ref": "#/components/parameters/Limit"
        - "$ref": "#/components/parameters/SortBy"
        - "$ref": "#/components/parameters/SortOrder"
        - "$ref": "#/components/parameters/Search"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
    post:
      tags:
        - Customers
      operationId: post_customer_employment
      summary: POST customer-employment
      description: "Permissions: customers.read, customers.write"
      security:
        - bearerAuth: []
      x-permissions:
        - customers.read
        - customers.write
      x-data-scope: JWT dataScope enforced server-side
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
            example: null
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
    put:
      tags:
        - Customers
      operationId: put_customer_employment
      summary: PUT customer-employment
      description: Authenticated session required
      security:
        - bearerAuth: []
      x-permissions: []
      x-data-scope: JWT dataScope enforced server-side
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
            example: null
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
  "/customer-employment/{id}":
    get:
      tags:
        - Customers
      operationId: get_customer_employment_id
      summary: "GET customer-employment/{id}"
      description: "Permissions: customers.write"
      security:
        - bearerAuth: []
      x-permissions:
        - customers.write
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - name: id
          in: path
          required: true
          schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
    patch:
      tags:
        - Customers
      operationId: patch_customer_employment_id
      summary: "PATCH customer-employment/{id}"
      description: "Permissions: customers.write"
      security:
        - bearerAuth: []
      x-permissions:
        - customers.write
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - name: id
          in: path
          required: true
          schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
            example: null
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
    delete:
      tags:
        - Customers
      operationId: delete_customer_employment_id
      summary: "DELETE customer-employment/{id}"
      description: Authenticated session required
      security:
        - bearerAuth: []
      x-permissions: []
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - name: id
          in: path
          required: true
          schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
  "/customer-income":
    get:
      tags:
        - Customers
      operationId: get_customer_income
      summary: GET customer-income
      description: "Permissions: customers.read, customers.write"
      security:
        - bearerAuth: []
      x-permissions:
        - customers.read
        - customers.write
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - "$ref": "#/components/parameters/Page"
        - "$ref": "#/components/parameters/Limit"
        - "$ref": "#/components/parameters/SortBy"
        - "$ref": "#/components/parameters/SortOrder"
        - "$ref": "#/components/parameters/Search"
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
    post:
      tags:
        - Customers
      operationId: post_customer_income
      summary: POST customer-income
      description: "Permissions: customers.read, customers.write"
      security:
        - bearerAuth: []
      x-permissions:
        - customers.read
        - customers.write
      x-data-scope: JWT dataScope enforced server-side
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
            example: null
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
    put:
      tags:
        - Customers
      operationId: put_customer_income
      summary: PUT customer-income
      description: Authenticated session required
      security:
        - bearerAuth: []
      x-permissions: []
      x-data-scope: JWT dataScope enforced server-side
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
            example: null
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
  "/customer-income/{id}":
    get:
      tags:
        - Customers
      operationId: get_customer_income_id
      summary: "GET customer-income/{id}"
      description: "Permissions: customers.write"
      security:
        - bearerAuth: []
      x-permissions:
        - customers.write
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - name: id
          in: path
          required: true
          schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
        "500":
          "$ref": "#/components/responses/InternalError"
    patch:
      tags:
        - Customers
      operationId: patch_customer_income_id
      summary: "PATCH customer-income/{id}"
      description: "Permissions: customers.write"
      security:
        - bearerAuth: []
      x-permissions:
        - customers.write
      x-data-scope: JWT dataScope enforced server-side
      parameters:
        - name: id
          in: path
          required: true
          schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
            example: null
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "201":
          description: Created
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ApiSuccessResponse"
        "400":
          "$ref": "#/components/responses/BadRequest"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "403":
          "$ref": "#/components/responses/Forbidden"
        "404":
          "$ref": "#/components/responses/NotFound"
        "409":
          "$ref": "#/components/responses/Conflict"
        "422":
          "$ref": "#/components/responses/ValidationError"
        "429":
          "$ref": "#/components/responses/RateLimited"
[...]
